/*global styles*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #3931ED;
    --main-color2: #443afc;
    --main-bgColor: #f6f6f6;
}

body {
    overflow-x: hidden;
    position: relative;
}

body.active::before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.575);
    z-index: 5;
}

body.active {
    overflow-y: hidden;
}

/* Для всех браузеров */
input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* Chrome, Safari, Edge */
    margin: 0;
}

body,
* {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000093;
}

.text-1 {
    font-weight: 700;
    font-size: 70px;
    color: black;
}

.text-1-2 {
    font-weight: 700;
    font-size: 40px;
    color: black;
}

.text-1-3 {
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.text-2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: black;
}

.text-3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: black;
}

.text-4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: black;
}

.text-4-2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.text-5 {
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.text-6 {
    font-weight: 500;
    font-size: 60px;
}

.text-mini {
    font-weight: 500;
    font-size: 13px;
}

.margin-t-4 {
    margin-top: 40px;
}

.margin-b-6 {
    margin-bottom: 60px;
}

.margin-b-4 {
    margin-bottom: 40px;
}

.margin-b-2 {
    margin-bottom: 20px;
}

.section-margin-8 {
    margin: 80px 0;
}

.section-margin-4 {
    margin: 40px 0;
}

.section-padding-8-3 {
    padding: 80px 0;
}

.section-padding-8-3-t {
    padding-top: 90px;
}

.section-btn-1 {
    padding: 30px 65px;
    border-radius: 100px;
    display: inline-block;
    margin-top: 60px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.section-btn-2-block {
    display: inline-block;
}

.section-btn-2 {
    background: #3931ED;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 30px;
    white-space: nowrap;
    transition: .2s;
    border: 1px solid var(--main-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-btn-2:hover {
    background: #fff;
    color: var(--main-color);
}

.section-btn-1::after,
.section-btn-1::before {
    z-index: -2;
    content: '';
    border-radius: inherit;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
    -webkit-transition-timing-function: cubic-bezier(.75, 0, .125, 1);
    transition-timing-function: cubic-bezier(.75, 0, .125, 1);
}

.section-btn-1::before {
    border: 2px solid #656565;
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.section-btn-1::after {
    border: 2px solid transparent;
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
}

.section-btn-1:hover {
    background: var(--main-color);
    color: #fff;
}

.section-btn-1:hover::before {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}

.section-btn-1:hover::after {
    background-color: #fff;
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.row {
    display: flex;
}

.swiper-btns {
    position: absolute;
    top: 1px;
    z-index: 2;
    right: 0;
    display: flex;
    gap: 10px;
}

.swiper-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background: #f6f6f6;
    transition: .2s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
}

.swiper-btns button:hover {
    background: var(--main-color2);
}

.swiper-btns button:hover img {
    filter: brightness(0) invert(1);
}

.swiper-btns button img {
    width: 8px;
}

.btn-prev img {
    transform: rotate(180deg);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 920px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1100px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}



/*header styles (992)*/
header {
    padding: 30px 0;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    background: #fff;
    box-shadow: 10px -6px 15px black;
    transition: .3s;
}

header.active {
    padding: 20px 0;
}

.nav__left ul,
.nav__left,
nav {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
}

.nav__left {
    max-width: 822px;
}

.nav__left ul {
    max-width: 600px;
}

.nav__left ul li a {
    font-weight: 500;
    color: black;
    white-space: nowrap;
}

.search__block {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search__block img {
    width: 22px;
    height: 22px;
}

.search__block input {
    border: none;
    outline: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 165px;
}

.search__block input::placeholder {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.menu__btn {
    width: 40px;
    cursor: pointer;
}

/*banner section styles (responsive 768)*/
.banner-section {
    color: #fff;
    position: relative;
    min-height: 70vh;
}

.banner-section .swiper-btns {
    top: inherit;
    bottom: 20px;
    right: 40px;
}

.banner-section__inner {
    padding-top: 60px;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-section .swiper-slide-1 {
    background: url(https://cdnb.artstation.com/p/assets/images/images/006/917/573/large/cheonghyeok-song-3.jpg?1502235055) center/cover;
}

.banner-section .swiper-slide-2 {
    background: url(https://dr1ver.ru/wp-content/uploads/2022/03/audi-a6-avant-e-tron-concept_9.jpg) center/cover;
}

.banner-section .swiper-slide-3 {
    background: url(https://avatars.mds.yandex.net/i?id=e9da628f96234018963cb6db51a59ccf_l-5233191-images-thumbs&n=13) center/cover;
}

.banner-section__inner .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    min-height: 400px;
    position: relative;
    padding-top: 90px;
    z-index: 2;
}

.banner-section h1 {
    font-size: 40px;
    line-height: 48px;
    max-width: 700px;
}

.banner-section p {
    font-size: 20px;
    line-height: 24px;
    max-width: 700px;
}

/*filter section styles (1200 , 768)*/
.filter-section__banner {
    max-width: 1180px;
    margin: 60px auto 0 auto;
    padding: 50px 60px;
    background: url(/img/filterBg.jpg) center/cover;
    border-radius: 6px;
}

.filter-section__banner .row {
    gap: 20px;
    flex-direction: column;
}

.filter-section__banner .row li {
    color: #fff;
    background: rgba(174, 183, 187, 0.3);
    backdrop-filter: blur(30px);
    max-width: fit-content;
    padding: 3px 5px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-section__inner .custom-label-1 {
    border-radius: 6px 0 0 6px;
    border-right: none;
}


.filter-section__inner .custom-label-2 {
    border-radius: 0;
    border-right: none;
}

.filter-section__inner .custom-label-3 {
    border-radius: 0;
    border-right: none;
}

.filter-section__inner .label-zip {
    border-radius: 0;
    border-right: none;
}

.filter-section__inner .section-btn-2 {
    border-radius: 0 6px 6px 0;
}

.filter-section__inner .row {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}


.custom-label {
    position: relative;
}

.custom-select-drop-content {
    background: #000;
    padding: 25px;
    border-radius: 6px;
    position: absolute;
    left: 0;
    width: 100%;
    cursor: default;
    display: none;
    z-index: 2;
}

.custom-select-drop-content.active {
    display: block;
}

.custom-select-drop-content .title-1 {
    color: #fff;
}

.custom-select-drop-content li {
    position: relative;
    cursor: pointer;
    color: #fff;
    padding: 3.5px 0 3.5px 30px;
    font-weight: 500;
    border-radius: 6px;
}

.custom-select-drop-content li:hover {
    background: var(--main-color);
}

.custom-select-drop-content li.selected::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 5px;
    background: url(/img/icons/filterCheckIcon.svg) center/cover;
}

.custom-select-drop-content .title-2 {
    color: #656565;
    margin: 15px 0 10px 0;
}

.label.label-zip {
    border-radius: 0;
}

/*categories section styles (1200, 768)*/
.categories-section {
    background: #f6f6f6;
}

.categories-section__inner .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.categories-section__inner .col {
    background: #fff;
    border-radius: 6px;
    padding: 15px 20px 30px 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .2s;
}

.categories-section__inner .col:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 1px;
}

.categories-section__inner .col img {
    width: 100%;
}

.btn-all__categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn-all__categories img {
    max-width: 60px;
}

.popular__categories {
    margin-top: 60px;
}

.categories-section__inner.popular__categories .row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.categories-section__inner.popular__categories .row .col img {
    max-width: 80px;
    display: block;
    margin: 18px auto 28px auto;
}

/*about section styles (1200)*/
.about__text {
    max-width: 650px;
    width: 100%;
}

.about-section__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}

.about-section__inner p a.text-4 {
    text-decoration: underline;
}

.about__img {
    height: 405px;
}

.about__img-inner {
    position: relative;
    min-width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    height: 100%;
}

.about__img-text {
    background: rgba(174, 183, 187, 0.3);
    position: relative;
    z-index: 2;
    backdrop-filter: blur(30px);
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    border-radius: 6px;
}

.about__img-text p,
.about__img-text a {
    color: #fff;
    text-transform: uppercase;
}

.about__img-inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.about__login-btn {
    display: none;
    margin: 30px 0 10px 0;
}

.about__login-btn span:last-child {
    text-decoration: underline;
    display: inline-block;
}

/*helping section styles (1200)*/
.helping-section__inner .row {
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.helping-section__inner .col {
    display: flex;
    align-items: center;
    gap: 20px;
}

.helping-section__inner .col p {
    max-width: 400px;
}

.helping__img img {
    width: 100%;
}

/*best-cars section styles (1200, 992, 768)*/
.best-cars__inner {
    position: relative;
}

.best-cars__inner .row {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.best-cars__inner .swiper-slide {
    border: 1px solid rgba(101, 101, 101, 1);
    border-radius: 6px;
    overflow: hidden;
}

.best-cars__inner .swiper-slide:hover img {
    transform: scale(1.1);
}

.best-cars__inner .swiper-slide img {
    width: 100%;
    object-fit: cover;
    transition: .3s;
}

.best-cars__inner .swiper-slide .icon {
    max-width: 40px;
    object-fit: contain;
}

.best-cars__inner .swiper-slide .swiper-slide-text {
    padding: 20px;
}

.best-cars__inner .swiper-slide .swiper-slide-text h3 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.best-cars__inner .swiper-slide .swiper-slide-text a {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.best-cars__btn {
    text-decoration: underline;
    margin-top: 40px;
    display: block;
}

/*finance section styles (1400, 992)*/
.finance-section__inner .row {
    justify-content: space-between;
    gap: 20px;
}

.finance-section__imgs-item3-mobile {
    display: none!important;
}

.finance-section__text {
    max-width: 650px;
}

.finance-section__text p {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.finance-section__text div {
    margin-bottom: 40px;
}

.finance-section__imgs-item:hover img {
    transform: scale(1.1);
}

.finance-section__imgs div {
    width: 100%;
    display: flex;
    gap: 20px;
}

.finance-section__imgs img {
    border-radius: 7px;
    transition: .3s;
}

.finance-section__imgs-item2 img {
    height: 160px;
}

.finance-section__imgs-item3 {
    display: block;
    margin: 20px auto 0 auto;
    max-height: 280px;
    max-width: 460px;
}

/*price section styles (1200)*/
.price-section .container {
    max-width: 1180px;
    background: #f6f6f6;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 50px;
}

.price-section__inner {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    justify-content: space-between;
}

.price-section__left .row {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 690px;
}

.price-section h2 {
    max-width: 830px;
    margin: auto;
    text-align: center;
}

.scroll-block .swiper-calculator {
    width: 100%;
    position: relative;
    max-width: 690px;
}

.scroll-block .swiper-calculator .swiper-slide {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #656565;
}

.scroll-block .swiper-calculator .swiper-slide:hover img {
    transform: scale(1.1);
}

.scroll-block .swiper-calculator .swiper-slide img {
    width: 100%;
    transition: .2s;
}

.scroll-block .swiper-scrollbar.swiper-scrollbar-horizontal {
    position: relative !important;
    height: 10px;
    bottom: -4px;
}

.scroll-block .swiper-calculator .swiper-slide h3 {
    text-align: center;
}

.scroll-block .swiper-calculator .button-next {
    width: 40px;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    border: 1px solid #656565;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.user-credit-data {
    display: flex;
    width: 100%;
}

.monthly-payment,
.first-installment,
.label,
.custom-label {
    border: 1px solid #656565;
    padding: 15px 24px 15px 20px;
    border-radius: 6px 0 0 6px;
    outline: none;
    font-family: "Montserrat", sans-serif;
    color: #656565;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
}

.monthly-payment input,
.first-installment input,
.label input,
.custom-selected-option {
    border: none;
    background: transparent;
    outline: none;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    max-width: 185px;
}

.first-installment {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.custom-label {
    position: relative;
    border-radius: 0 6px 6px 0;
}

.button-select {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%) rotate(90deg);
}

.price-section__right {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

/*review section styles (responsive in js)*/
.review-section .swiper-slide {
    position: relative;
    max-height: 420px;
    overflow: hidden;

}

.review-section .swiper-slide:hover img {
    transform: scale(1.1);
}

.review-section {
    overflow: hidden;
}

.review-section__inner {
    position: relative;
}

.review-section .swiper-slide img {
    width: 100%;
    height: 100%;
    max-height: 420px;
    display: block;
    object-fit: cover;
    transition: .2s;
}

.review-section .swiper-slide a {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background: rgb(174, 183, 187, .3);
    border-radius: 6px;
    display: flex;
    gap: 5px;
    color: #fff;
    align-items: center;
    padding: 5px 10px;
    backdrop-filter: blur(30px);
}

.swiper-review {
    width: 100%;
    position: relative;
    overflow: visible;
}

.swiper-review {
    position: relative
}

.swiper-review::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
    z-index: 2;
    left: 0;
    background: #fff;
    transform: translate(-100%, 0);
}

/*categories-2 section styling*/
.categories-2-section {
    background: var(--main-bgColor);
    margin-bottom: 0;
}

.categories-2-section__inner .row {
    flex-wrap: wrap;
    gap: 24px;
}

.categories-2-section__inner .row a {
    text-decoration: underline;
}

/*news section styling*/
.news-section {
    background: var(--main-bgColor);
    margin-bottom: 0;
}

.news-section__inner {
    position: relative;
}

.news-section__inner .swiper-slide {
    border-radius: 6px;
}

.news-section__inner article {
    overflow: hidden;
    border-radius: 6px;
}

.news-section__inner .swiper-slide:hover img {
    transform: scale(1.1);
    border-radius: 6px;
}

.news-section__inner article img {
    width: 100%;
    min-height: 240px;
    object-fit: cover;
    border-radius: 6px;
    transition: .2s;
}

.news-section__inner article h3 {
    margin-top: 20px;
}

.news-section__inner article p {
    color: #656565;
    margin-top: 20px;
}

.news-section__inner article span {
    display: block;
    margin-top: 20px;
    color: #656565;
}

/*questions section styling (992)*/
.questions-section__inner .row {
    gap: 20px;
    justify-content: space-between;
}

.accrodion {
    transition: .4s;
}

.accrodion-grp {
    max-width: 650px;
    width: 100%;

}

.accrodion .accrodion-title {
    cursor: pointer;
    position: relative;
    padding: 0 0 20px 0;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    border-bottom: 1px solid #656565;

}

.accrodion .accrodion-title h3 {
    max-width: 600px;
    padding-right: 20px;
}

.accrodion .accrodion-title img {
    position: absolute;
    right: 0;
    top: 0;
}

.accrodion .accrodion-title img:last-child {
    display: none;
}

.accrodion .accrodion-content p {
    max-width: 700px;
}

.accrodion.active .accrodion-title img:first-child {
    display: none;
}

.accrodion.active .accrodion-title img:last-child {
    display: block;
}

.accrodion.active {
    box-shadow: 0 20px 35px rgb(0 0 0 / 8%);
    padding: 35px 40px 20px;
    margin-bottom: 15px;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    margin-top: 20px;
}

.accrodion-content {
    font-size: 15px;
    padding: 20px 10px;
    line-height: 20px;
    color: #000;
    line-height: 30px;
}


.questions-section__inner-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 460px;
    width: 100%;
    gap: 40px;
}

/*footer styling (1400, 768)*/
footer {
    background: var(--main-bgColor);
}

.footer__cat a {
    font-weight: 500;
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
    color: #000;
    text-decoration: underline;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-deco {
    margin-top: 40px;
}

.footer__socials {
    display: flex;
    gap: 20px;
}

.footer__socials img {
    width: 30px;
    height: 30px;
}

footer .container:first-child {
    border-bottom: 1px solid #CECECE;
    padding-bottom: 40px;
}

footer .container:last-child {
    padding-top: 40px;
    padding-bottom: 80px;
}

.privacy {
    max-width: 1060px;
    width: 100%;
}

.privacy ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.privacy ul li a {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
    color: black;
    white-space: nowrap;
}

.privacy span {
    color: #656565;
    font-weight: 500;
    font-size: 16px;
    display: block;
    margin-top: 20px;
}

/*how it work section styling (992)*/
.howItWork-section {
    position: relative;
    background: #f6f6f698;
}

.howItWork-section .row {
    gap: 20px;
    flex-wrap: wrap;
}

.howItWork-section .row .col {
    display: flex;
    gap: 20px;
    align-items: center;
}

.howItWork-section .row .col {
    width: 30%;
}

.howItWork-section .row .col span {
    color: #656565;
    padding-right: 14px;
    border-right: 1px solid #CECECE;
}

.howItWork-section .row .col h3 {
    margin-bottom: 10px;
}

/*about hero section styling (992)*/
.about-hero-section__inner {
    display: flex;
    align-items: center;
}

.about-hero__text {
    max-width: 700px;
    width: 100%;
}

.about-hero__img img {
    width: 100%;
}

/*history section styling 1200*/
.history-section {
    background: #F6F6F6;
}

.history-section__item-1,
.history-section__item-2 {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    justify-content: space-between;
}

.history-section__item-1-text,
.history-section__item-2-text {
    max-width: 660px;
    width: 100%;
}

.history-section__item-2-imgs div {
    width: 50%;
}

.history-section__item-1-img img,
.history-section__item-2-imgs img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
}

.history-section__item-7-img img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-radius: 10px;
}

.history-section__item-2-imgs {
    display: flex;
    gap: 24px;
    width: 100%;
}

.history-section__item-3 {
    flex-direction: row-reverse;
}

.history-section__item-2 {
    justify-content: inherit;
}

/*breadcrumb section styling*/
.breadcrumb-section {
    margin-top: 92px;
    padding: 40px 0;
}

.breadcrumb-section a,
.breadcrumb-section span {
    color: #656565;
}

/*car-fullstory section styling 992, 768*/
.car-fullstory-section__inner {
    display: flex;
    flex-direction: column;
}

.car-fullstory-section__inner h2 {
    max-width: 700px;
    display: flex;
    justify-content: space-between;
}

.car-price span {
    color: #656565;
}

.car-fullstory__calc {
    color: #3931ED;
}

.car-fullstory__calc {
    display: block;
    margin: 15px 0;
}

.car-fullstory-decors .container {
    display: flex;
    gap: 20px;
}

.car-fullstory-decors .container div {
    display: flex;
    padding: 10px 20px;
    gap: 10px;
    align-items: center;
}

.car-fullstory-decors .container div:first-child {
    border-radius: 6px;
    max-width: 320px;
    background: #F6F6F6;
}

.car-fullstory-decors .container div:last-child {
    max-width: 400px;
}

.car-fullstory-decors .container div:last-child h3 {
    color: #168703;
}

.car-fullstory-decors .container div:first-child h3 {
    color: #C3B005;
}

.car-fullstory-slider {
    margin: 60px 0;
    display: flex;
    gap: 3px;
    overflow: overlay;
    overflow-y: clip;
}

/* Стиль для скроллбара */
.car-fullstory-slider {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    transition: scrollbar-color 0.3s ease, scrollbar-width 0.3s ease;
    /* Плавный переход для скроллбара */
}

/* Стиль скроллбара для WebKit */
.car-fullstory-slider::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    transition: background-color 0.3s ease;
    /* Плавный переход для цвета фона скроллбара */
    border-radius: 6px;
}

.car-fullstory-slider::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    /* Плавный переход для ползунка */
    border-radius: 6px;
}

.car-fullstory-slider::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    /* Плавный переход для трека скроллбара */
    border-radius: 6px;
}

/* При наведении */
.car-fullstory-slider::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#scrollable-content {
    position: relative;
}

#scrollable-content .btns {
    z-index: 2;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

#scrollable-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100px;
    border: none;
    background: #f6f6f6;
    transition: .2s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
}

#scrollable-content button img {
    width: 8px;
}

#scrollable-content .prevBtn img {
    transform: rotate(180deg);
}

.car-fullstory-slider .slider-other__img {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.car-fullstory-slider .slider-main__img {
    height: 393px;
    min-width: 560px;
    max-width: 40px;
    width: 40%;
    display: block;
}

.car-fullstory-slider .slider-main__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.car-fullstory-slider .slider-other__img div {
    display: flex;
    gap: 3px;
    height: 195px;
}

.car-fullstory-slider .slider-other__img div a {
    width: 350px;
    height: 100%;
    display: block;
}

.car-fullstory-slider .slider-other__img div img {
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.car-fullstory-parametrs__item {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.car-fullstory-parametrs h2 {
    margin-bottom: 30px;
}

.car-fullstory-parametrs__item-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E9F4FA;
    border-radius: 50%;
}

.car-fullstory-parametrs__item h3 {
    display: flex;
    flex-direction: column;
}

.car-fullstory-parametrs__item h3 span:last-child {
    color: #656565;
}

.car-fullstory-characteristics__items h4 span , .car-fullstory-story-cars__inner p span{
    font-size: 13px!important;
}

.car-fullstory-parametrs__items-inner {
    max-width: 770px;
    width: 100%;
}

.car-fullstory-parametrs__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.car-fullstory-parametrs__items-and-get__offer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.car-fullstory__get-offer {
    max-width: 460px;
    width: 100%;
    background: #F6F6F6;
    padding: 20px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.car-fullstory__get-offer-inner {
    background: #fff;
    border-radius: 6px;
    padding: 20px;
}

.car-fullstory__get-offer .text-4 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 30px;
}

.car-fullstory__get-offer .row {
    flex-direction: column;
    gap: 10px;
}

.car-fullstory__get-offer .row .custom-label {
    border: 1px solid #CECECE;
    border-radius: 6px;
}

.text-input {
    border: 1px solid #CECECE;
    padding: 15px 24px 15px 20px;
    border: 1px solid #CECECE;
    outline: none;
    font-family: "Montserrat", sans-serif;
    color: #656565;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border-radius: 6px;
}

.text-input input {
    border: none;
    background: transparent;
    outline: none;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
}

.car-fullstory-characteristics__items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.car-fullstory-story-cars__inner div {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 15px;
}

.car-fullstory-story-cars__inner {
    margin-top: 30px;
}

.car-fullstory-story-cars__inner div p {
    display: flex;
    flex-direction: column;
}

.car-fullstory-video-cars {
    margin-top: 40px;
}

.car-fullstory-video-cars .row {
    margin-top: 30px;
    max-width: 960px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.car-fullstory-video-cars .row video {
    object-fit: cover;
    border-radius: 6px;
}

.car-fullstory-video-cars .row video:nth-child(1) {
    width: 49%;
}

.car-fullstory-video-cars .row video:nth-child(2) {
    width: 49%;
}

.car-fullstory-video-cars .row video:nth-child(3) {
    width: 32%;
}


.car-fullstory-video-cars .row video:nth-child(4) {
    width: 32%;
}

.car-fullstory-video-cars .row video:nth-child(5) {
    width: 32%;
}

.car-fullstory-analysis .container {
    margin-top: 40px;
}

.car-fullstory-analysis__inner {
    max-width: 960px;
}

.car-fullstory-analysis .line {
    background: #E9F4FA;
    height: 6px;
    width: 100%;
}

.car-fullstory-analysis__inner h5 {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.car-fullstory-analysis__inner h5:first-child::after {
    content: "";
    height: 20px;
    width: 1px;
    background: black;
}

.car-fullstory-analysis__inner h5:last-child::before {
    content: "";
    height: 20px;
    width: 1px;
    background: black;
}

.car-fullstory-analysis__inner h5:last-child {
    max-width: 180px;
    margin-left: 30%;
}

.car-fullstory-analysis__inner h5:first-child span:last-child {
    color: #168703;
}

.car-fullstory-analysis__inner h5:first-child span:first-child {
    color: #656565
}

.car-fullstory-analysis__inner h5:last-child span:last-child {
    color: #656565
}

.car-fullstory-analysis__inner p {
    padding: 20px 0 60px 0;
}

/*styling catalogs section (1300, 992, 768)*/
.catalogs {
    padding-top: 40px;
    position: relative;
    padding-bottom: 80px;
}

.catalogs__inner .container {
    display: flex;
}

.catalogs__filter {
    min-width: 337px;
    top: 80px;
    z-index: 2;
    border: 1px solid #CECECE;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
    padding: 10px;
    position: sticky;
    height: fit-content;
    margin-right: 24px;
}

.catalogs__filter .custom-select {
    background: #E9F4FA;
    padding: 13px 20px;
    border-radius: 6px;
    position: relative;
    border: 1px solid #CECECE;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;

}


.catalogs__filter .custom-btn {
    height: 51.6px;
    margin: 10px 0;
}

.catalogs__filter .custom-select {
    padding-right: 30px;
}

.catalogs__filter .custom-select img {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%) rotate(90deg);
}

.catalogs__filter .custom-select .not-value {
    color: #b4b4b4;
}

.catalogs__filter.row {
    flex-direction: column;
    gap: 10px;
}

.catalogs__filter .other-filters {
    border-radius: 6px;
    max-height: 60vh;
    overflow-y: auto;
}

.catalogs__filter .other-filters .custom-select {
    background: #fff;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

/* Стиль скроллбара для WebKit */
.catalogs__filter .other-filters::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    transition: background-color 0.3s ease;
    /* Плавный переход для цвета фона скроллбара */
    border-radius: 6px;
}

.catalogs__filter .other-filters::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    /* Плавный переход для ползунка */
    border-radius: 6px;
}

.catalogs__filter .other-filters::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    /* Плавный переход для трека скроллбара */
    border-radius: 6px;
}

/* При наведении */
.catalogs__filter .other-filters::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.catalogs__cars-top {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.catalogs__cars-top span b {
    text-decoration: underline;
}

.catalogs__cars-top div {
    display: flex;
    gap: 20px;
}

.catalogs__cars-top div:last-child img {
    cursor: pointer;
    width: 20px;
}

.catalogs__cars-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 24px;
}

.catalogs__cars-item {
    border: 1px solid rgba(101, 101, 101, 1);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.catalogs__cars-item-text {
    padding: 20px;
}

.catalogs__cars-item img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.catalogs__cars-item-text h3 {
    margin-bottom: 15px;
}

.catalogs__cars-item-add-info {
    display: flex;
    justify-content: space-between;
}

.catalogs__cars-item-add-info div:last-child {
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.catalogs__cars-item-add-info div:first-child {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.catalogs__cars-item-add-info div:first-child span {
    color: #656565;
}

.catalogs__cars-item-add-info div:last-child span:last-child {
    color: #3931ED;
}

.catalogs__cars-item-hashtags {
    margin-top: 20px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.catalogs__cars-item-hashtags span {
    background: #E9F4FA;
    border-radius: 10px;
    padding: 2px 10px;
}

.catalogs__cars-item .line {
    height: 1px;
    width: 100%;
    background: #CECECE;
    margin: 22px 0;
}

.catalogs__cars-item .time {
    text-align: center;
    margin: 22px 0 0 0;
    display: flex;
    flex-direction: column;
}

.catalogs__cars-item .time.time-green span:first-child {
    color: #168703;
}

.catalogs__cars-item .time.time-yellow span:first-child {
    color: #C4C736;
}

.catalogs__cars-item .time.time-red span:first-child {
    color: #D60E0E;
}

.catalogs__cars-item .section-btn-2 {
    background: transparent;
    color: black;
    border: 1px solid #000;
    padding: 18px 20px;
    width: 100%;
    margin-top: 20px;
}

.catalogs__cars-item .section-btn-2:hover {
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
}

.catalogs__cars-item-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #E9F4FA;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.catalogs__pagination {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.catalogs__pagination p {
    padding: 0 20px;
}

.catalogs__pagination button {
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CECECE;
    transition: .3s;
}

.catalogs__pagination button:hover {
    background: var(--main-color);
}

.catalogs__pagination .next1,
.catalogs__pagination .next2 {
    transform: rotate(180deg);
}

.catalogs__show-all-btn , .mobile__filter{
    display: none;
}

/*styling offcanvas*/
.offcanvas {
    width: 30%;
    height: 100vh;
    background: red;
    position: fixed;
    right: 0;
    top: 0;
    background: linear-gradient(45deg, #1f3f4f, #000);
    color: #fff;
    padding: 20px;
    z-index: 5;
    transition: .4s;
    transform: translateX(100%);
}

.offcanvas.active {
    transform: translateX(0);
}

.offcanvas__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offcanvas__header .btn-close-menu {
    cursor: pointer;
}

.offcanvas__main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offcanvas__main ul li {
    margin: 20px 0;
}

.offcanvas__main ul li a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}

.overlay-body {
    z-index: 3;
    display: none;
}

.overlay-body.active {
    display: block;
}

@media only screen and (max-width: 1400px) {

    /*finance section responsive 1400*/
    .finance-section__imgs div {
        flex-direction: column;
        align-items: flex-start;
    }

    .finance-section__imgs-item2 {
        margin-left: auto;
    }

    /*footer styling responsive 1400*/
    .socials-block {
        display: flex;
        gap: 80px;
    }

    footer .socials-block .footer-deco {
        margin-top: 0;
    }
}

@media only screen and (max-width: 1300px) {

    /*catalogs responsive 1300*/
    .catalogs__cars-main {
        grid-template-columns: 1fr 1fr;
    }
}


@media only screen and (max-width: 1200px) {

    /*categories section responsive 1200*/
    .categories-section {
        margin: 30px 0 80px 0;
    }

    .categories-section__inner .row {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .categories-section__inner .popular__categories .row {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*about section responsive 1200*/
    .about__img {
        position: absolute;
        right: 0;
    }

    .about__img-inner {
        min-width: 420px;
    }

    .about__text {
        max-width: 500px;
    }

    /*helping section responsive 1200*/
    .helping-section__inner .row:first-child {
        flex-direction: column;
    }

    /*best-cars section responsive 1200*/
    .best-cars__inner .row {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .col-4 {
        display: none;
    }

    /*price section responsive 1200*/
    .price-section__inner {
        flex-direction: column;
    }

    .price-section__right {
        flex-direction: row;
    }

    .price-section__left .row,
    .scroll-block .swiper-calculator,
    .scroll-block {
        max-width: 100%;
    }

    /*filter section responsive 1200*/
    .filter-section__inner .custom-label-1 {
        grid-column-start: 1;
        grid-column-end: 3;
        border-radius: 6px 0 0 0;
    }

    .filter-section__inner .custom-label-2 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .filter-section__inner .custom-label-3 {
        border-right: 1px solid #656565;
        border-radius: 0 6px 0 0;
    }

    .filter-section__inner .label-zip {
        grid-column-start: 1;
        grid-column-end: 4;
        border-top: none;
        border-radius: 0 0 0 6px;
    }

    .filter-section__inner .section-btn-2 {
        grid-column-start: 4;
        grid-column-end: 6;
        border-radius: 0 0 6px 0;
    }

    .filter-section__inner .row {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto;
    }

    /*history section responsive 1200*/
    .history-section__item-1 {
        flex-direction: column;
    }

    .history-section__item-2 {
        flex-direction: column-reverse;
    }

    .history-section__item-1-text,
    .history-section__item-2-text {
        max-width: 100%;
    }

    .history-section__item-7-img {
        width: 100%;
    }
}


@media only screen and (max-width: 992px) {

    .section-btn-1 {
        padding: 20px;
        display: block;
        margin: 30px auto 0 auto;
    }

    .section-btn-2 {
        padding: 20px;
    }

    /*header responsive 992*/
    .nav__left ul {
        display: none;
    }

    /*about section responsive 992*/
    .about__img {
        position: static;
    }

    .about__img-inner {
        min-width: inherit;
    }

    .about__img {
        width: 100%;
    }

    .about-section__inner {
        flex-direction: column;
        align-items: center;
    }

    .about__img-inner {
        padding: 20px;
    }

    .about__img-text {
        padding: 5px;
    }

    .about__login-btn {
        display: inline-block;
    }

    /*helping section responsive 992*/
    .helping-section__inner .row {
        flex-direction: column;
    }

    .helping-section__inner .col img {
        width: 50px;
        height: 50px;
    }

    /*best-cars section responsive 992 */
    .best-cars__inner .row {
        grid-template-columns: 1fr 1fr;
    }

    /*finance section responsive 992*/
    .finance-section__inner .row {
        flex-direction: column;
    }

    .finance-section__imgs div {
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }

    .finance-section__imgs div img {
        width: 100%;
        object-fit: cover;
        display: block;
    }

    
    .finance-section__imgs-item3 {
        width: 100%;
        object-fit: contain;
        margin: 10px auto 0 auto;
        display: none;
    }
    .finance-section__imgs-item3-mobile {
        display: block!important;
        margin-bottom: 20px;
    }

    .finance-section .section-btn-2-block {
        display: inherit;
        margin-top: 40px;
    }

    /*questions section responsive 992*/
    .questions-section__inner .row {
        flex-direction: column;
    }

    .questions-section__inner-right {
        gap: 20px;
    }

    .questions-section .section-btn-2, .questions-section__inner-right {
        margin-top: 20px;
    }

    /*how it work section responsive 992*/
    .howItWork-section .row .col {
        width: 48%;
    }

    /*about hero section responsive 992*/
    .about-hero-section__inner {
        flex-direction: column;
    }

    /*car fullstory section styling 992*/
    .car-fullstory-parametrs__items-and-get__offer {
        flex-direction: column-reverse;
    }

    .car-fullstory__get-offer {
        max-width: 100%;
    }


    /*catalogs responsive 992*/

    .catalogs__filter.row {
        flex-wrap: wrap;
    }

    .catalogs__cars-main {
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
    }

    .catalogs__inner .container {
        flex-direction: column;
    }

    .catalogs__filter {
        position: inherit;
        box-shadow: none;
        border: none;
    }

    .catalogs__filter .custom-btn {
        order: 1;
    }

    .catalogs__inner h2,
    .catalogs__filter .other-filters {
        display: none;
    }

    .catalogs__filter.row {
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin-bottom: 20px;
    }

    .catalogs__filter {
        margin-right: 0;
    }

    .catalogs__filter .custom-select {
        width: 32.3% !important;
    }


    .catalogs h2 {
        margin: 20px 0;
    }

    .catalogs__filter .custom-select img {
        right: 10px;
    }


    .catalogs__filter .custom-select h4 {
        white-space: nowrap;
    }

}


@media only screen and (max-width: 768px) {

    .section-btn-1 {
        width: 100%;
    }

    .section-btn-1:hover {
        background: inherit;
        color: inherit;
    }

    .section-btn-1:hover::before {
        opacity: inherit;
        -webkit-transform: none;
        transform: none;
    }

    .section-btn-1:hover::after {
        background-color: inherit;
        opacity: inherit;
        -webkit-transform: none;
        transform: none;
    }

    .section-padding-8-3 {
        padding: 30px 0;
    }

    .section-padding-8-3-t {
        padding-top: 40px;
    }


    .margin-t-4 {
        margin-top: 20px;
    }

    .margin-b-6 {
        margin-bottom: 30px;
    }

    .margin-b-4 {
        margin-bottom: 20px;
    }

    .margin-b-2 {
        margin-bottom: 10px;
    }


    .text-1 {
        font-size: 40px;
    }

    .text-1-2 {
        font-size: 24px;
    }

    .text-1-3 {
        font-size: 20px;
    }

    .text-2 {
        font-size: 20px;
        line-height: 24px;
    }

    .text-3,
    .text-4 {
        font-size: 16px;
        line-height: 19px;
    }

    .text-5 {
        font-size: 13px;
    }

    .section-pad {
        padding: 40px 0;
    }

    /*banner section responsive 768*/
    .banner-section__inner {
        padding: 30px 0;
    }

    .banner-section h1 {
        font-size: 24px;
        line-height: 29px;
    }

    .banner-section p {
        font-size: 16px;
        line-height: 19px;
    }

    /*finance section responsive 768*/
    .finance-section__imgs-item:hover img {
        transform: scale(1);
    }

    /*categories section responsive 768*/
    .categories-section__inner .row {
        grid-template-columns: 1fr 1fr;
    }

    .categories-section__inner.popular__categories .row {
        grid-template-columns: 1fr 1fr;
    }

    .categories-section__inner .col {
        padding: 10px;
    }

    .categories-section__inner.popular__categories .row .col img {
        max-width: 60px;
        margin: 8px auto 10px auto;
    }

    /*best-cars section responsive 768 */
    .best-cars .swiper-btns {
        display: none;
    }

    .best-cars__inner .row {
        grid-template-columns: 1fr;
    }

    .best-cars__btn {
        margin-top: 20px;
    }

    /*best-cars section responsive 768*/
    .user-credit-data,
    .price-section__right {
        flex-direction: column;
        gap: 10px;
        padding-top: 0;
    }

    .first-installment,
    .monthly-payment,
    .custom-label, .label-zip {
        border: 1px solid #656565;
        border-radius: 6px;
        height: 76px;
    }

    .price-section__right .section-btn-2 {
        width: 100%;
    }

    .monthly-payment input,
    .first-installment input,
    .label input,
    .custom-selected-option {
        max-width: inherit;
        font-size: 16px;
    }

    .price-section .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    /*footer styling responsive 768*/
    .socials-block {
        flex-direction: column;
        gap: 20px;
    }

    .footer__inner {
        flex-direction: column;
        gap: 30px;
    }

    .privacy ul {
        flex-direction: column;
        gap: 10px;
    }

    footer .container:last-child {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    footer .container:first-child {
        padding-bottom: 30px;
    }

    .footer__cat a {
        font-size: 13px;
    }

    .privacy ul li a {
        font-size: 11px;
    }

    /*filter section responsive 768*/
    .filter-section__banner {
        padding: 30px 20px;
    }

    .filter-section__banner li img {
        width: 20px;
        height: 20px;
    }

    .filter-section__banner .row {
        gap: 10px;
    }

    .filter-section__inner .custom-label-1 {
        grid-column-start: 1;
        grid-column-end: 6;
        border-radius: 6px 6px 0 0;
        border-right: 1px solid #656565;
    }

    .filter-section__inner .custom-label-2 {
        grid-column-start: 1;
        grid-column-end: 6;
        border-radius: 0;
        border-right: 1px solid #656565;
        border-top: none;
    }

    .filter-section__inner .custom-label-3 {
        border-radius: 0;
        grid-column-start: 1;
        grid-column-end: 3;
        border-top: none;
        border-right: none;
    }

    .filter-section__inner .label-zip {
        grid-column-start: 3;
        grid-column-end: 6;
        border-top: none;
        border-radius: 0 0 0 0;
        border-right: 1px solid #656565;
    }

    .filter-section__inner .label-zip input {
        max-width: 100px;
    }

    .filter-section__inner .section-btn-2 {
        grid-column-start: 1;
        grid-column-end: 6;
        border-radius: 0 0 6px 6px;
    }

    .filter-section__inner .row {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto;
    }

    /*reviews section responsive 768*/
    .review-section .swiper-btns {
        display: none;
    }

    /*news section responsive 768*/
    .news-section .swiper-btns {
        display: none;
    }

    /*how it work section responsive 768*/
    .howItWork-section .row .col {
        width: 100%;
    }

    /*history section responsive 768*/
    .history-section__item-1-img img {
        height: 200px;
    }

  
    .history-section__item-2-imgs {
        gap: 8px;
    }

    .history-section__item-2-imgs img {
        height: 180px;
    }

    .history-section__item-2-imgs {
        justify-content: center;
    }

    .history-section__item-1,
    .history-section__item-2 {
        gap: 20px;
    }

    .history-section__item-7-img img {
        height: 280px;
    }

    /*car fullstory section styling 768*/
    .car-fullstory-parametrs h2 {
        padding-top: 0;
    }
    .text-input input {
        font-size: 16px;
    }

    .car-fullstory-slider {
        margin: 30px 0;
    }

    .car-fullstory-decors .container {
        flex-direction: column;
        gap: 10px;
    }

    .car-fullstory-decors .container div {
        justify-content: center;
        margin: 0 auto;
    }

    .car-fullstory-slider {
        order: 1;
    }

    .car-fullstory-decors {
        order: 2;
    }

    .car-fullstory-parametrs {
        order: 3;
    }

    .car-fullstory-story-cars {
        order: 4;
    }

    .car-fullstory-video-cars {
        order: 5;
    }

    .car-fullstory-analysis {
        order: 6;
    }

    .car-fullstory-parametrs__items {
        grid-template-columns: 1fr;
    }

    .car-fullstory-parametrs__item-icon {
        width: 40px;
        height: 40px;
    }

    .car-fullstory-slider .slider-main__img {
        height: 300px;
        min-width: 90%;
        max-width: 90%;
    }

    .car-fullstory-slider .slider-other__img div a {
        width: 150px;
    }

    .car-fullstory-slider .slider-other__img div {
        height: 145px;
    }

    .car-fullstory-slider .slider-other__img,
    .car-fullstory-slider {
        gap: 5px;
    }

    #scrollable-content button {
        width: 30px;
        height: 60px;
    }

    .car-fullstory__get-offer-inner {
        background: transparent;
        padding: 0;
    }

    .car-fullstory__get-offer {
        padding: 10px;
    }

    .car-fullstory-video-cars {
        margin-top: 25px;
    }

    .car-fullstory-video-cars .row video:nth-child(1) {
        width: 100%;
    }

    .car-fullstory-video-cars .row {
        gap: 8px;
    }

    .car-fullstory-video-cars .row video:nth-child(2),
    .car-fullstory-video-cars .row video:nth-child(3),
    .car-fullstory-video-cars .row video:nth-child(4),
    .car-fullstory-video-cars .row video:nth-child(5) {
        width: 48.5%;
    }

    .catalogs__filter,
    .catalogs__pagination {
        display: none;
    }

    .mobile__filter {
        padding-left: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        overflow-x: scroll;
        padding-bottom: 10px;
    }

    /*catalogs responsive 768*/
    .catalogs__cars-top div:first-child {
        flex-direction: column-reverse;
    }

    .catalogs__show-all-btn {
        display: block;
        margin: 40px auto 0 auto;
        background: #E9F4FA;
        border: none;
        padding: 20px;
        width: 100%;
        text-align: center;
        border-radius: 50px;
    }

    .catalogs  {
        padding-bottom: 0;
    }

    .catalogs__cars-top div:first-child span:nth-child(2) {
        display: none;
    }

    .catalogs__cars-top div:last-child h3 {
        font-size: 13px;
    }

    .catalogs__cars-top {
        align-items: flex-end;
    }

    /* Стиль скроллбара для WebKit */
    .mobile__filter::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        transition: background-color 0.3s ease;
        /* Плавный переход для цвета фона скроллбара */
        border-radius: 6px;
    }

    .mobile__filter::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        /* Плавный переход для ползунка */
        border-radius: 6px;
    }

    .mobile__filter::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        /* Плавный переход для трека скроллбара */
        border-radius: 6px;
    }

    /* При наведении */
    .mobile__filter::-webkit-scrollbar-thumb:hover {
        background-color: transparent;
    }

    .mobile__filter .all-filter-btn,
    .mobile__filter .filter-btn {
        background: var(--main-color2);
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        padding: 5px 10px;
        border: none;
        border-radius: 15px;
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        white-space: nowrap;
        border: 1px solid var(--main-color2);
    }

    .mobile__filter .filter-btn {
        background: #fff;
        color: black;
    }

    .mobile__filter .line {
        background: #CECECE;
        width: 1px;
        height: 20px;
        border: 1px solid #CECECE;
    }

    .offcanvas {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {

    /*catalogs responsive 600*/
    .catalogs__cars-main {
        grid-template-columns: 1fr;
    }

}